version: '3'

services:
  webcrawler.lighthouse:
    image: petabridge/lighthouse:latest
    hostname: webcrawler.lighthouse
    ports:
      - '9110:9110'
      - '4053:4053'
    environment:
      ACTORSYSTEM: "webcrawler"
      CLUSTER_PORT: 4053
      CLUSTER_IP: "webcrawler.lighthouse"
      CLUSTER_SEEDS: "akka.tcp://webcrawler@webcrawler.lighthouse:4053"

  webcrawler.lighthouse2:
    image: petabridge/lighthouse:latest
    ports:
      - '0:9110'
      - '0:4053'
    environment:
      ACTORSYSTEM: "webcrawler"
      CLUSTER_PORT: 4053
      CLUSTER_IP: "webcrawler.lighthouse"
      CLUSTER_SEEDS: "akka.tcp://webcrawler@webcrawler.lighthouse:4053"
    depends_on:
      - "webcrawler.lighthouse"

  webcrawler.web:
    image: webcrawler.web:latest
    ports:
      - '8808:80'
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      CLUSTER_SEEDS: "akka.tcp://webcrawler@webcrawler.lighthouse:4053"
      CLUSTER_PORT: 4055
    depends_on:
      - "webcrawler.lighthouse"

  webcrawler.crawlservice:
    image: webcrawler.crawlservice:latest
    environment:
      CLUSTER_SEEDS: "akka.tcp://webcrawler@webcrawler.lighthouse:4053"
      CLUSTER_PORT: 4055
    depends_on:
      - "webcrawler.lighthouse"

  webcrawler.trackerservice:
    image: webcrawler.trackerservice:latest
    environment:
      CLUSTER_SEEDS: "akka.tcp://webcrawler@webcrawler.lighthouse:4053"
      CLUSTER_PORT: 4055
    depends_on:
      - "webcrawler.lighthouse"
